:root {
    --english-vermillion: #cc444bff;
    --indian-red: #da5552ff;
    --candy-pink: #df7373ff;
    --pastel-pink: #e39695ff;
    --pastel-pink-2: #e4b1abff;

    --forest-green-traditional: #054a29ff;
    --dark-spring-green: #137547ff;
    --shamrock-green: #37985bff;
    --emerald: #7ac78bff;
    --turquoise-green: #99d4a6ff;

    --chrome-yellow: #ffaa00ff;
    --mango: #ffbd00ff;
    --cyber-yellow: #ffd000ff;
    --sizzling-sunrise: #ffdd00ff;
    --yellow-crayola: #fff192ff;

    --st-patricks-blue: #0f3375ff;
    --sapphire: #1557c0ff;
    --azure: #2382f7ff;
    --french-sky-blue: #77b6fbff;
    --baby-blue-eyes: #a4cefcff;

    --jet: #3c3c3cff;
    --middle-grey: #8a817aff;
    --platinum: #eaeaeaff;
    --coffee: #75512eff;
    --cafe-noir: #574434ff;
    
    


    --palette-font-1: Gotham Rounded A;
    --palette-font-2: Gotham Rounded B;
    --palette-font-3: Helvetica;
    --palette-font-4: Arial;
    --palette-font-5: Gotham Rounded;
    --palette-font-6: Helvetica Neue;
    }
    
    