*{
    margin: 0;
    transition: .2s;
}

body{
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content:space-between;
    color: #574434ff;
    font-size: 2.2vmin !important;
}

h1, h2, h3, h4, h5, h6, p {
    display: block;
    font-weight: 500;
    line-height: 1.3 !important;
    letter-spacing: 1px !important;
}

button{
    border-radius: 4px;
    background-color: #75512eff;
    border-color: transparent;
    color:#eaeaeaff;
    padding: 0 2vmin !important;
    height: 5vmin !important;
    text-align: center;
    font-size: 100%;
    text-transform: uppercase;
}
button:hover{
    background: #3c3c3cff;
}

/*player selection and winner display dialogue boxes*/
#dialogueStart, #dialogueFinish{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    opacity: 0.98;
    background-color: #3c3c3cff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerSelection{
    width: 70vmin !important;
    background-color: #eaeaeaff;
    opacity: 1;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center !important;
}

.colors{
    height: 60vmin;
    width: 60vmin;
    margin: 2em 0 1em!important;
    display: grid;
    gap: 1vmin;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.colors .holder{
    border: none;
    opacity: 0.5;
}

.r{
    background-color: #da5552ff;
}

.g{
    background-color: #137547ff;
}

.y{
    background-color: #ffbd00ff;
}

.b{
    background-color: #1557c0ff;
}

.colors .holder.selected{
    opacity: 1;
    content: url(icons/selected.svg);
}

.colors .holder.won{
    opacity: 1;
    font-size: 1000%;
}

#dialogueStart .colors div:hover{
    opacity: 1;
}
#dialogueFinish .colors div:hover{
    opacity: 0.8;
}

.select{
    min-height: 30vmin !important;
    min-width: 30vmin;
    padding: 1em 0 1.5em 0 !important;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}

.select h1{
    text-transform: uppercase;
    font-size: 300%;
    text-align: center;
}

.select button{
    margin-top: 2em;
}

/*board*/
.board{
    height: 100vmin;
    width: 100vmin;
    flex-shrink: 0;
}

.boardWrapper{
    width: 98%;
    height: 98%;
    padding: 1%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
}

/*locker*/
.locker{
    padding: 16.67%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 3vmin;
    align-items: center;
}

.rLocker {
    background-color: #df7373ff;
}

.gLocker {
    background-color: #37985bff;
}

.yLocker {
    background-color: #ffd000ff;
}

.bLocker {
    background-color: #2382f7ff;
}

.rLocker .holder{
    background-color: #e4b1abff;
}

.gLocker .holder{
    background-color: #99d4a6ff;
}

.yLocker .holder{
    background-color: #fff192ff;
}

.bLocker .holder{
    background-color: #a4cefcff;
}

.holder{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*path*/
.bPath, .gPath{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.rPath, .yPath{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.rPath .block {
    border: 0.5px solid #e4b1abff;
}

.gPath .block {
    border: 0.5px solid #99d4a6ff;
}

.yPath .block {
    border: 0.5px solid #fff192ff;
}

.bPath .block {
    border: 0.5px solid #a4cefcff;
}

.rPath .block.dark {
    background-color: #e39695ff;
}

.gPath .block.dark {
    background-color: #7ac78bff;
}

.yPath .block.dark {
    background-color:#ffdd00ff;
}

.bPath .block.dark {
    background-color:#77b6fbff;
}

.block{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*board-images*/
.boardWrapper svg{
    height: 80%;
    width: 80%;
    opacity: 0.9;
}

.dark, .holder{
    color: #fff;
}

/*central-box*/
.endGame{
    background: conic-gradient(from 45deg, #ffdd00ff, #ffdd00ff 25%, #77b6fbff 25%,#77b6fbff 50%, #e39695ff 50%, #e39695ff 75%, #7ac78bff 75%);
}

/*player stats*/
.stats{
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5em;
    border: 5px solid #8a817aff;
    border-radius: 1em;
}

section.stats > * {
    padding: 1em;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
}

.stats h1{
    text-transform: uppercase;
    font-size: 300%;
}

.stats h2{
    text-transform: capitalize;
    font-size: 200%;
    text-align: center;
}

.dice label{
    text-align: center;
}

.value{
    display: flex;
    align-items: center;
    justify-content: center;
}

.value input{
    max-width: 3em;
    margin-right: 1em;
    font-size: 1em;
    padding: 0 1em;
    height: 4.5vmin;
    border: 2px solid #d4d9dd;
    border-radius: 4px;
}

.value input:hover{
    border-color: #574434ff;
}

.roll{
    display: flex;
    align-items: center;
    justify-content: center;
}

#dice{
    height: 10vmin;
    width: 10vmin;
    margin-right: 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerScores{
    height: 20vmin;
    width: 20vmin;
    display: grid;
    gap: 1vmin;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.playerScores .holder{
    opacity: 0.1;
    border: none;
}

.playerScores .holder.selected{
    opacity: 0.6;
    font-size: 300%;
}

.playerScores .holder.selected.win{
    opacity: 1;
    font-size: 300%;
}

/*tablet-screen*/
@media screen and (min-width: 600px) {
    .playerSelection{
        min-width: 100vmin !important;
        width: 70vw !important;
        height: 70vmin !important;
        flex-direction: row !important;
        justify-content: center !important;
    }

    .colors{
        margin: 0 1em !important;
    }

    .select{
        height: 60vmin !important;
        padding: 0 1em 0 1.5em !important;
    }
}

/*horizontal-screen*/
@media screen and (min-width: 1024px) {
    body{
        flex-direction: row !important;
        justify-content: flex-start;
    }
    .stats{
        flex-direction: column !important;
    }
}